/*
** File Name:	fonts.css
** Author:	Aditya Ramesh
** Date:	08/04/2013
** Contact:	_@adityaramesh.com
*/

@font-face
{
	font-family: "Corbert";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/corbert/corbert_regular.otf");
}

@font-face
{
	font-family: "Corbert";
	font-weight: normal;
	font-style: italic;
	src: url("../fonts/corbert/corbert_italic.otf");
}
